.Create__Test__bg{
    margin: 0 auto;
    display: flex;
    padding:20px;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
    justify-content: center;
    width: 95%;
}

.Create__Test__container{
font-family: 'Raleway', sans-serif;
margin: 0 auto;
display: flex;
justify-content: space-around;
width: 90%;
background-color: #fff;
border-radius: 40px;
}

.ct__selectors{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 30%;
}
.ct__selectors:last-child(){

}
.ct__selectors__item{
margin-top:40px ;
}
.ct__item__selector{

}

.ct__item__text{
font-size: 20px;
}

.ct__right{
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ct__right button{
    width: 200px;
    align-self:center ;
    margin-bottom:15px;
}
.ct__creater{
  
    display: flex;
    justify-content: center;
    padding: 50px;
}

.ct__creater__container{
    overflow-y: scroll;
    max-height: 700px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: rgb(170, 170, 170);
}



.ct_quastions_container{
margin: 10px 0;
background-color: rgb(220, 220, 220);
display: flex;
align-items: center;
padding: 20px;
flex-direction: column;
}
.ct_question{
    margin: 10px;
    background-color: antiquewhite;
    width: 100%;
    padding: 10px;
}

.ct__quastion__pic{
    width: 200px;
    display: block;
    margin: 10px;
}

.ct__answer{
display: flex;
margin: 5px 0;
}

.ct__button__createtest{
    border: 3px solid #EBA600;
    font-family: sans-serif;
    border-radius:10px;
    font-size:24px;
    box-shadow: 0px 2px 10px black;
}

.ct__select__items{
    border: 3px solid #EBA600;
    font-family: sans-serif;
    border-radius:10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size:17px;
    box-shadow: 0px 2px 5px black;
}

.ct__input__question{
    border: 3px solid #EBA600;
    font-family: sans-serif;
    width:500px;
    height:50px;
    text-align:inherit;
    border-radius:5px;
    margin-right: 5px;
    margin-left: 5px;
    font-size:17px;
    box-shadow: 0px 2px 5px black;
    margin-bottom:14px;
}

.ct__input__answer{
    border: 2px solid #EBA600;
    font-family: sans-serif;
    border-radius:5px;
    margin-right: 10px;
    margin-left: 5px;
    font-size:14px;
    box-shadow: 0px 2px 4px black;
    margin-bottom:10px;
}

.ct__input__answer2{
    border: 2px solid #EBA600;
    width:250px;
    font-family: sans-serif;
    border-radius:5px;
    margin-right: 10px;
    margin-left: 5px;
    font-size:14px;
    box-shadow: 0px 2px 4px black;
    margin-bottom:10px;
}

.ct__radio__btn{
    margin-left: 5px;
}

.ct__check__btn{
    margin-left: 5px;
}

.ct__delete__btn{
    border: 2px solid #EBA600;
    max-width: 100px;
    font-family: sans-serif;
    border-radius:10px;
    margin-left: 10px;
    font-size:14px;
    box-shadow: 0px 2px 4px black;
}

.ct__remove__qustion__button{
    border: 2px solid #EBA600;
    max-width: 150px;
    font-family: sans-serif;
    border-radius:10px;
    margin-left: 10px;
    font-size:14px;
    box-shadow: 0px 2px 4px black;
}

.ct__add__qustion__button{
    border: 2px solid #EBA600;
    max-width: 150px;
    font-family: sans-serif;
    border-radius:10px;
    margin-left: 10px;
    font-size:14px;
    box-shadow: 0px 2px 4px black;
}

.ct__test__name{
    border: 2px solid #EBA600;
    font-family: sans-serif;
    border-radius:5px;
    margin-right: 10px;
    margin-left: 5px;
    font-size:14px;
    box-shadow: 0px 2px 4px black;
    margin-bottom:10px;
}

.ct__text__input__question{
    font-size: 20px;
    margin-bottom: 8px;
    margin-left:5px;
}

.ct__test__points{
    font-family: sans-serif;
    font-size: 20px;
}

.ct__test__name_1{
    font-family: sans-serif;
    font-size: 18px;
    margin-right:8px;
}

.ct__add__test__question{
    border: 3px solid #EBA600;
    font-family: sans-serif;
    max-width:200px;
    border-radius:10px;
    font-size:20px;
    box-shadow: 0px 2px 10px black;
}