.support__bg{
    background: url(../../img/textBackground.png);
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    width: 100%;
    height: 98vh; 
    position: absolute;
}

.support__container{

margin-top: 100px;
display: flex;
width: 99%;
justify-content:center;

}

.support__header{

    margin:40px  auto;
    width: 470px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 10px 30px rgb(0, 0, 0);
    background-color: rgba(255, 166, 0, 0.583);

}

.support__title{

    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;

}

.support__header__text{
    font-family: 'Montserrat', sans-serif;
}

.support__item{

display: flex;
flex-direction: column;
align-items: center;
background-color: rgba(0, 0, 0, 0.47);
width: 300px;
height: 350px;
border: 2px solid rgb(0, 0, 0);
border-radius: 10px;
padding: 20px;
margin-left: 100px;
margin-right: 100px;
}




.item__img{

width: 100px;
height: 100px;
border: 0.5px solid orange;
border-radius: 50%;
box-shadow: 0 0 30px orange;

}


.item__text{

    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    font-size: 25px;

}
.media__ref{
    align-self: flex-start;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: -50px;
}
.media__icon{
    width: 30px;
    height: 30px;
    margin-right:8px;
}
.item__ref{
    align-self: flex-start;
    font-size: 20px;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.footer__text{
font-family: 'Raleway', sans-serif;
font-size: 24px;
background-color: rgba(0, 0, 0, 0.47);
border-radius: 10px;
padding: 10px;
width: 830px;
text-align: start;
margin: 200px auto;
}
