.my__tests__bg{
    margin: 0 auto;
    padding:20px;
    background-color: rgb(216, 216, 216);
    width: 95%;
    height: 96vh;
}

.my__tests__container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.my__tests__item{
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    margin: 40px;
    height: 165px;
    width: 90%;
    border:4px solid #EBA600;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 10px #000;
}
.test__item__header{
    display: flex;
    justify-content: space-between;
}
.test__item__title{
    font-size: 30px;
    font-weight: 700;
}
.test__item__open-close__time{
    display: flex;
    font-size: 24px;
   
}

.test__item__date{
    margin-top: 10px;
    display: flex;
    font-size: 20px;
}

 p{
    padding: 0;
    margin: 0;
    margin-right: 5px;
}

.test__item__buttons{
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.test__item__selector{
    display: flex;
}

.my__test__button{
    background-color: #EBA600;
    margin-right:15px;
    font-size:20px;
    border-radius: 6px;
    border:2px solid #EBA600;
    box-shadow: 0px 0px 2px black;
}

.test__item__open-close__time{
    display:flex;
    flex-direction:column;
    height: 20px;
    margin-bottom: 50px;
}
.date__time{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}

.my__test__select{
    background-color: white;
    margin-right:15px;
    border-radius: 6px;
    border:2px solid #EBA600;
    box-shadow: 0px 0px 2px black;
}


.mt__button__groups{
    background-color: white;
    margin-right:15px;
    border-radius: 6px;
    border:2px solid #EBA600;
    box-shadow: 0px 0px 2px black;
    font-weight: bold;
    box-shadow: 0px 0px 5px black;
}

.group__chose{
    display: flex;
}

.test__item__open-close__time:after{
    content:"";
    margin-top:20px;
    display:inline-block;
    border: 0.2px solid black;
    width:200px;
    background-color: #000;
}