.my__groups__bg{
    margin: 0 auto;
    display: flex;
    padding:20px;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
    justify-content: center;
    width: 95%;
}

.groups__container{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mg__header{
width: 5%;
}

.side__groups{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
max-height: 600px;
overflow-y: auto;
}

.adding__side__groups{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
}
.side__groups__item__adding{
    font-family: 'Raleway', sans-serif;
    border: 5px solid rgb(43, 102, 220);
    display: inline-block;
    border-radius: 10px;
    margin: 25px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 10px #000;
}
.side__groups__item__admin{
    font-family: 'Raleway', sans-serif;
    border: 5px solid rgb(253, 209, 114);
    display: inline-block;
    border-radius: 10px;
    margin: 25px;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 10px #000;
    
}

.side__groups__item__member{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    border:5px solid #EBA600;
    border-radius: 10px;
    margin: 25px;
    width: 50%;
    background-color:antiquewhite;
    padding: 20px;
    box-shadow: 0px 2px 10px #000;
}

.group__title{
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    margin-bottom:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.img__container{
    float:right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:2px solid #EBA600;
    box-shadow:0px 3px 10px black;
    background-color: #fff;
}

.mb__found__group__button{
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top:10px;
    margin-bottom:10px;
    border:2px solid #EBA600;
    background-color: #EBA600;
    border-radius:12px;
    box-shadow: 0px 0px 5px black;
}

.mg__another__titles{
    margin-top: 10px;
    font-size:20px;
    text-shadow: 0px 0px 1px black;
}

.mg__add__group__button{
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top:10px;
    margin-bottom:10px;
    border:3px solid antiquewhite;
    background-color:antiquewhite;
    border-radius:12px;
    box-shadow: 0px 0px 5px black;
}

.mg__delete__button{
    margin-top:10px;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    border:3px solid antiquewhite;
    background-color:antiquewhite;
    border-radius:12px;
    box-shadow: 0px 0px 5px black;
    margin-top:20px;
    float:right;
}

.mg__leave__button{
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    border:2px solid #EBA600;
    background-color: #EBA600;
    border-radius:12px;
    box-shadow: 0px 0px 5px black;
    margin-top:20px;
    float:right;
}

.group__members__container{
    margin-top:5px;
    max-height: 50px;
    padding-left: 5px;
    overflow-y: scroll;
}

.group__admin{
    margin-bottom:20px;
}

.mg__create__cansel__buttons{
    font-size: 15px;
    font-family: sans-serif;
    border:3px solid antiquewhite;
    background-color:antiquewhite;
    border-radius:12px;
    box-shadow: 0px 0px 5px black;
    margin-top:5px;
    margin-left:5px;
    margin-right:10px;
}

.mg__input__name{
    font-family: sans-serif;
    border:3px solid antiquewhite;
    background-color:antiquewhite;
    border-radius:12px;
    margin: 5px;
    box-shadow: 0px 0px 5px black;
    width: 80%;
}

