.search__groups__bg{
    margin: 0 auto;
    display: flex;
    padding:20px;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
    justify-content: center;
    width: 95%;
}

.search__groups__container{
    display: grid;
    grid-auto-rows: minmax(50px,auto);
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-height:77vh;
    overflow-y: scroll;
}

.search__groups__item{
    width: 60%;
    background-color:antiquewhite;
    margin:10px 0;
    border:3.5px solid #EBA600;
    padding:15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    min-height: 60px;
}

.sg__titles__search{
    border: 2px solid rgb(12, 138, 138);
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom:20px;
    box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.6);
    font-size:20px;
}

.sg__neter__btn{
    border-radius: 10px;
    background-color: #fff;
    border:2px solid #EBA600;
    box-shadow: 0px 0px 5px black;
    display: block;
    margin-left: auto;
    margin-right: 10px;
}