.search__groups__bg{
    margin: 0 auto;
    display: flex;
    padding:20px;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
    justify-content: center;
    width: 95%;
}

.search__groups__container{
    display: flex;
    max-width:100%;
    flex-wrap: wrap;
    display: flex;
    max-width:100%;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height:77vh;

    max-height:77vh;

}

.search__groups__item{
    width: 12%;
    height:150px;
    width: 12%;
    height:150px;
    background-color:antiquewhite;
    margin:50px 20px;
    margin:50px 20px;
    border:3.5px solid #EBA600;
    padding:15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    min-height: 80px;
    min-height: 80px;
}

.sg__titles__search{
    border: 2px solid rgb(12, 138, 138);
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom:20px;
    box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.6);
    font-size:20px;
}

.sg__neter__btn{
    border-radius: 10px;
    background-color: #fff;
    border:2px solid #EBA600;
    box-shadow: 0px 0px 5px black;
    display: block;
    margin-top: 85px;
    margin-left: auto;
    margin-right: 5px;
}

.sg__img__container{
    border-radius: 50px;
    height:60px;
    width:60px;
    float:right;
    margin-right: 5px;
}

.sg__img__container{
    border-radius: 50px;
    height:60px;
    width:60px;
    float:right;
}
